ion-content{
    --ion-background-color:white;
  }
  ion-item{
    --ion-background-color: transparent!important;
  }
  ion-header{
    --ion-background-color: linear-gradient(#00C9FF,#f4f4f4);
  }
  .padding{
    padding: 5%;
  }
  .padding2{
    position: relative;
    top: 30%;
    left: 25%;
    bottom: 10%;
  }
  .flex{
    display:flex;
    justify-content: space-between;
  }
  .logo{
    height: 250px;
    position: relative;
  }
  .logo img{
    position: fixed;
    height: 200px;
    top: 20%;
    left: 50%;
    bottom: 10%;
    transform: translate(-50%,-50%);
  }