<ion-header>
  <ion-toolbar>
    <ion-button slot="start" fill="clear" routerLink="/tabs/user">
      <ion-icon color="dark" name="arrow-undo-outline"></ion-icon>
    </ion-button>
    <ion-title>Políticas de Privacidad</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-label  style="font-size:12px">
        El presente Política de Privacidad establece los términos <br> en que  usa y protege 
        la información que es <br>proporcionada por sus usuarios al momento de utilizar<br> su 
        sitio web. Esta compañía está comprometida con la<br> seguridad de los datos de sus 
        usuarios. Cuando le<br> pedimos llenar los campos de información personal <br>con la cual 
        usted pueda ser identificado, lo hacemos<br> asegurando que sólo se empleará de acuerdo 
        con los<br> términos de este documento. Sin embargo esta Política <br>de Privacidad puede
        cambiar con el tiempo o ser<br> actualizada por lo que le recomendamos y enfatizamos <br>
        revisar continuamente esta página para asegurarse <br>que está de acuerdo con dichos cambios.
      </ion-label>
    </ion-item>
  </ion-card>

</ion-content>
