<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Principal
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card>
    <ion-list-header>
     <h1 align="center">Huella de carbono</h1>
    </ion-list-header>
    <ion-item>
      <ion-label  style="font-size:12px">
        La huella de carbono es un indicador medioambiental <br> que da información sobre totalidad
        de gases de efecto <br>invernadero que emite una organización, proceso, evento <br>o persona individual.<br><br>
        <b>Beneficios: </b> Contribuye a la reducción de emisiones, <br>gestión ambiental y manejo eficiente de recursos.
      </ion-label>
    </ion-item>
    <ion-list-header>
      <h1 align="center">Enfoque corporativo</h1>
     </ion-list-header>
     <ion-item>
       <ion-label  style="font-size:12px">
         Enfoque operacional-corporativo: Huella de carbono <br> anual de una organización, dividida en 2 alcances:
          <ul>
            <li  type="disc">Alcance 1: Emisiones directas provenientes de <br>fuentes que son propiedad o son
               controladas por <br>la empresa. Ejemplo: automóviles, hornos, aires<br> acondicioneados.
              </li><br>
              <li  type="disc">Alcance 2: Emisiones indirectas generadas por la <br>electricidad consumida
                 y comprada por la <br>organización.
               </li>
          </ul>
       </ion-label>
     </ion-item>
  </ion-card>
 
</ion-content>
