ion-input{ 
    .text-input{ text-align: center; }
}
.padding{
    padding: 5%;
  }
  .center{
    padding-left: 100px;
  }
  .center1{
    padding-top: 5%;
  }
  .user{
    height: 4000px;
    position: relative;
  }
  .contenido{
      padding-top: 15%;
  }
  info-usuarios{
        ion-avatar img{
            width: 120px;
            height: 400px;
        }
  }
  :host {
    ion-content {
      --background: linear-gradient(135deg, var(--ion-color-light), var(--ion-color-success))
    }
  
  }