<ion-header>
  <ion-toolbar>
    <ion-button slot="start" fill="clear" routerLink="/tabs/user">
      <ion-icon color="dark" name="arrow-undo-outline"></ion-icon>
    </ion-button>
    <ion-title>Sobre app</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-label  style="font-size:12px">
        <b>Desarrollador:</b> Pablo Andres Santacruz Balarezo <br>
        <b>Título de la app:</b> Huella de Carbono <br>
        <b>Teléfono: </b> (+593) 984094602 <br>
        <b>Correo electrónico:</b> psantacruz22@gmail.com <br>
        <b>Fecha de actualización de la app:</b> 9 de diciembre <br> del 2020 <br> 
      </ion-label>
    </ion-item>
  </ion-card>

</ion-content>